@media (max-width:700px){
	.desktop{
		display:none;
	}

	h1{
		font-size:$large;
	    margin-bottom:$medium;	
	}

	h2{
	    font-size:$medium;
	    margin-bottom:$small;
	}

	nav{
		position:absolute;
		left:100%;
		top:0px;
		bottom:0px;
		background:$off-white;
		width:100%;
		@include transition_mixin(left 300ms);

		&.open{
			left:0%;
		}

		a{
			display:block;
			padding:$extra-small;
		}
	}

	#menu-toggle{
        position:absolute;
        top:$extra-large;
        right:$extra-large;
        color:$off-black;
        cursor:pointer;

        svg{
            width:30px;
            fill:none;
            stroke:$off-black;
            stroke-width:5;
            stroke-miterlimit:10;

            .middle-line{
                @include transition_mixin(opacity 300ms);
            }

            &.open{
                .middle-line{
                    opacity:0;
                }
            }
        }
    }
}

@media (min-width:701px){
	.mobile{
		display:none;
	}

	nav{
		float:right;

		a{
			padding:$medium;
		}
	}
}