/*/////////////////////////////////////////////////////////////////////////////
    Colors
//////////////////////////////////////////////////////////////////////////////*/

$off-black	:	#222;
$off-white	:	#fdfdfd;

$grey		:	#ccc;

$accent		:	#0C3D56;
$hovered	:	#166993;

$error		: 	$accent;

/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/

$extra-extra-small  :   8pt;
$extra-small    	:   10pt;
$small          	:   13pt;
$medium         	:   16pt;
$large          	:   21pt;
$extra-large    	:   34pt;
$extra-extra-large  :   42pt;

$size-1	 :  1pt;
$size-2	 :  3pt;
$size-3	 :  6pt;
$size-4	 :  8pt;
$size-5	 :  10pt;
$size-6	 :  13pt;
$size-7	 :  16pt;
$size-8	 :  21pt;
$size-9	 :  26pt;
$size-10 :  34pt;

/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/

$base-duration	: 250ms;
$base-easing	: ease-in-out;

/*/////////////////////////////////////////////////////////////////////////////
    Fonts
//////////////////////////////////////////////////////////////////////////////*/

$main-font:Roboto;
$second-font:Roboto Slab;