@import 'reset';
@import 'vars';
@import 'mixins-extends';
@import 'grid';
@import 'typography';

body{
	background:$off-white;
	padding:$extra-large;
}

header, footer{

	a{
		text-decoration:none;
		color:$off-black;
	}
}

main{
	padding:$extra-large 0;
}

@import 'responsive';